<ul class="pagination justify-content-center mt-4">
  {% include "includes/pagination.html" %}
</ul>

<footer class="footer pt-5 mt-5 text-center">
  <hr class="horizontal dark mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-3 mb-4 mx-auto">
        <div>
          <h6 class="text-gradient text-primary font-weight-bolder">Restaurant Service</h6>
        </div>
        <div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 mx-auto">
        <p class="my-4 text-sm">

          <a class="nav-link pe-1" href="https://github.com/kostomeister" target="_blank">
            by kostomeister <i class="fab fa-github text-lg opacity-8 align-middle"></i>
          </a>

        </p>
      </div>
    </div>
  </div>
</footer>