{% extends "layouts/base-presentation.html" %}

{% block content %}
  <div class="container mt-5 mb-5" style="padding-top: 100px">
    <div class="row justify-content-center">
      <div class="col-md-8">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{ cook.first_name }} {{ cook.last_name }}</h2>
            <h6 class="card-subtitle mb-2 text-muted">Username: {{ cook.username }}</h6>
            <h3 class="card-text">Years of Experience: {{ cook.years_of_experience }}</h3>
            <h5 class="mt-4">Dishes Participated:</h5>
            <ul class="list-group">
              {% for dish in cook.dishes.all %}
                <li class="list-group-item">
                  <a href="{% url 'kitchen:dish-detail' pk=dish.id %}" class="text-decoration-none">
                    {{ dish.name }}
                  </a>
                </li>
              {% empty %}
                <li class="list-group-item">This cook hasn't participated in any dishes yet.</li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
